<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe List</title>
</head>
<body>

<h2>Recipe List</h2>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <!-- Add more columns as needed -->
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over the recipes and display them -->
  <tr th:each="recipe : ${recipes}">
    <td th:text="${recipe.id}"></td>
    <td th:text="${recipe.title}"></td>
    <td th:text="${recipe.ingredients}"></td>
    <td th:text="${recipe.ingredients2}"></td>
    <td th:text="${recipe.steps}"></td>
    <!-- Add more columns as needed -->
  </tr>
  </tbody>
</table>

</body>
</html>
